body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
  color: #00FFFF;
}

p, li, .button {
  color: #00FF00;
}

.body-container {
  width: calc(min(100vw, 640px));
  box-sizing: border-box;
}

.very-large {
  font-size: 50px;
}

.tiny {
  font-size: 7px;
} 

a {
  color: #0AF;
}

.hidden {
  display: none;
}

#tab-buttons .button {
  display: inline-block;
  padding: 10px;
  background-color: none;
}

.button.highlighted {
  background-color: #333;
}

.button:hover {
  background-color: #333;
}