body {
  background-color: #000000;
  color: #00FF00;
}

h1, h2, h3 {
  color: #00FFFF;
}

.very-large {
  font-size: 50px;
}

iframe {
  margin: 0;
  border: 4px solid #0000FF;
  width: 100%;
  box-sizing: border-box;
}
